[submodule "vim/pack/dist/start/vim-quickrun"]
	path = vim/pack/dist/start/vim-quickrun
	url = https://github.com/thinca/vim-quickrun.git
[submodule "vim/pack/dist/start/vim-visualstar"]
	path = vim/pack/dist/start/vim-visualstar
	url = https://github.com/thinca/vim-visualstar.git
[submodule "vim/pack/dist/start/molokai"]
	path = vim/pack/dist/start/molokai
	url = https://github.com/tomasr/molokai.git
