[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/docker-zsh-completion"]
	path = zsh/docker-zsh-completion
	url = https://github.com/felixr/docker-zsh-completion
[submodule "vim/pack/dist/start/molokai"]
	path = vim/pack/dist/start/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/pack/dist/start/vim-fugitive"]
	path = vim/pack/dist/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/dist/start/vim-quickrun"]
	path = vim/pack/dist/start/vim-quickrun
	url = https://github.com/thinca/vim-quickrun.git
[submodule "vim/pack/dist/start/vim-visualstar"]
	path = vim/pack/dist/start/vim-visualstar
	url = https://github.com/thinca/vim-visualstar.git
[submodule "vim/pack/dist/opt/plist.vim"]
	path = vim/pack/dist/opt/plist.vim
	url = https://github.com/vim-scripts/plist.vim.git
[submodule "vim/pack/dist/opt/vim-terraform"]
	path = vim/pack/dist/opt/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "vim/pack/dist/opt/xcconfig.vim"]
	path = vim/pack/dist/opt/xcconfig.vim
	url = https://github.com/keith/xcconfig.vim.git
